<div class="container">
    <div class="row">
		<div class="well">
      <a class="btn btn-primary pull-right" style="margin-left:-30%" ng-href="#/addDiplome" ng-show ="admin">Ajouter un diplome</a>
        <h1 class="text-center">Diplomes présents de notre société</h1>
        <form>
    <div class="form-group">
      <div class="input-group">

        <input type="text" class="form-control" placeholder="Rechercher un diplome" ng-model="searchDiplome">

      </div>
    </div>
  </form>
        <p class="lead">
            <table class="table table-striped">
                <tr>
                    <th   style="text-align:center">Numéro de diplome</th>
                    <th   style="text-align:center">Nom diplome</th>
                    <th   style="text-align:center">Durée du diplome</th>
                    <th   style="text-align:center"></th>
                </tr>
                <tr ng-repeat="d in diplomes | filter:searchDiplome">
                    <td>{{d.numdiplome}}</td>
                    <td>{{d.nomdiplome}}</td>
                    <td>{{d.dureediplome}} ans</td>
                </tr>

            </table>
        </p>
        <div ng-hide="currentPage == 0 && currentPage >= diplomes.length/pageSize - 1">
        <button class="btn btn-primary btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
     Précédent
 </button>
{{currentPage+1}}/{{numberOfPages()}}
 <button class="btn btn-primary btn-sm" ng-disabled="currentPage >= diplomes.length/pageSize - 1" ng-click="currentPage=currentPage+1">
     Suivant
 </button>
 </div>
        </div>
	</div>
</div>
