<div class="container">
    <div class="row">
		<div class="well">
      <a class="btn btn-primary pull-right" ng-href="#/addFormation" ng-show ="admin">Ajouter un diplome</a>
        <h1 class="text-center">Formations disponibles</h1>
        <div class="list-group">
          <div ng-repeat="f in formations" class="list-group-item" style="overflow: hidden;">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img ng-show="f.typeformation == 'RECYCLAGE'"class="media-object img-rounded img-responsive"  src="../images/recyclage.png" alt="placehold.it/350x250" >
                    </figure>
                    <figure class="pull-left">
                        <img ng-show="f.typeformation == 'OBTENTION'"class="media-object img-rounded img-responsive"  src="../images/obtention.png" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> {{f.typeformation}} du {{f.nomdiplome}} </h4>
                    <p class="list-group-item-text">Formation débutant le {{f.datedebformation | limitTo : 10}} finissant le {{f.datefinformation  | limitTo : 10}}
  </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> {{f.nbplace-f.nbparticipant}} <small> places restantes </small></h2>
                    <a class="btn btn-default btn-lg btn-block" ng-href="#/Formations/{{f.numformation}}" > Voir </a>
                </div>
*
        </div>
        </div>
	</div>
</div>
