<div class="container" ng-controller="HomeCtrl">
  <div class="page-header">
    <h3>Bienvenue sur le site MNSL</h3>
  </div>
  <div class="index">
  <div class="row-img">
    <div class="col-lg-4">
        <a title="Voir les diplomes présents sur notre site" ng-href="#/diplomes" role="button"><img class="img-circle" src="../images/student-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
      <h2>Diplomes</h2>
      <p>A travers ce lien vous allez pouvoir consulter les différents diplomes présents sur notre site et dont nos formateurs ont les autorisations d'enseigner.</p>
      <p><a class="btn btn-success" title="Voir les diplomes présents sur notre site" ng-href="#/diplomes" role="button">Voir</a></p>
    </div>
    <div class="col-lg-4">
        <a title="Voir les formations" ng-href="#/Formations" role="button"><img class="img-circle" src="../images/stat-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
      <h2>Formations</h2>
      <p>Ici, il sera possible de voir les différentes formations auxquelles vous pourrez participer afin d'obtenir votre diplome</p>
      <p><a class="btn btn-success" title="Voir les formations" ng-href="#/Formations" role="button">Voir</a></p>
    </div>
    <div class="col-lg-4">
        <a  title="Voir les membres du site" ng-href="#/membres" role="button"><img class="img-circle" src="../images/contact-icon.png" alt="Generic placeholder image" style="width: 140px; height: 140px;"></a>
      <h2>Membres</h2>
      <p>Enfin, il vous est possible de consulter les différents membres du site.</p>
      <p><a class="btn btn-success" title="Voir les membres du site" ng-href="#/membres" role="button">Voir</a></p>
    </div>
  </div>
  </div>
</div>
