<div class="container">
      <div class="row">
  		<div class="well">
        <h1 class="text-center">Liste des membres du sites</h1>
    <p class="lead">
      <form>
  <div class="form-group">
    <div class="input-group">

      <input type="text" class="form-control" placeholder="Rechercher un membre" ng-model="searchMember">

    </div>
  </div>
</form>
        <table class="table table-striped" style="text-align:center">
            <tr>
                <th  style="text-align:center">Nom</th>
                <th  style="text-align:center">Prénom</th>
                <th  style="text-align:center">Email</th>
                <th></th>
            </tr>
            <tr ng-repeat="m in members | filter:searchMember">
                <td>{{m.nomad}}</td>
                <td>{{m.prenomad}}</td>
                <td>{{m.mailad}}</td>
                <td><a class="btn btn-primary" ng-href="#/membres/{{m.mailad}}">voir profil</a></td>
            </tr>

        </table>
        <div ng-hide="currentPage == 0 && currentPage >= members.length/pageSize - 1">
        <button class="btn btn-primary btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
     Précédent
 </button>
{{currentPage+1}}/{{numberOfPages()}}
 <button class="btn btn-primary btn-sm" ng-disabled="currentPage >= members.length/pageSize - 1" ng-click="currentPage=currentPage+1">
     Suivant
 </button>
 </div>
    </p>
</div>
</div></div>
