<div class="container">
    <div class="page-header">
        <h3>List of products from the REST API
</h3>
    </div>
    <p class="lead">
        <table class="table table-striped">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th></th>
            </tr>
            <tr ng-repeat="m in members">
                <td>{{m.nomad}}</td>
                <td>{{m.prenomad}}</td>
                <td>{{m.mailad}}</td>
                <td><a class="btn btn-primary" ng-href="#/membres/{{m.mailad}}">voir profil</a></td>
            </tr>
        </table>
    </p>
</div>
