/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
code {
  font-size: 80%;
}
.centerspan{
text-align: center;
}
.ng-invalid.ng-dirty{
  border-color:red;
}
.ng-valid.ng-dirty{
  border-color:green;
}
tr{
  text-align: center;
}

a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.index > h2{
    font-size: 45px;
}
.index{
    text-align:center;
}
.img-circle {
    border-radius: 50%;
}
.row-img{
    margin-top: 05%;
}
